@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

body {
  margin: 0;
}

.page {
  font-family: 'Comfortaa', cursive;
  background-color: #a1cccc7d;
  width: 100%;
}

.header {
  min-height: 130px;
  min-width: 430px;
  display: flex;
  height: 10%;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #D0E6E6;
}

.border_all {
  border: 5px solid #4a47477d;
}

.border_top {
  border-top: 5px solid #4a47477d;
}

.border_bottom {
  border-bottom: 5px solid #4a47477d;
}

.border_left {
  border-left: 5px solid #4a47477d;
}

.border_right {
  border-right: 5px solid #4a47477d;
}

.header__section {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 30%;
  min-width: 430px;
}

.header__logo {
  min-height: 100px;
  min-width: 100px;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#header-logo {
  background-size: cover;
  width: 90%;
  height: 70%;
  margin: auto;
}

.header__title {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-weight: bold;
}

.header__link {
  font-size: 25px;
  text-decoration: none;
  color: #10191E;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.additional {
  border: none;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.additional__button-rain {
  margin-left: 1%;
  height: 50%;
  width: 8%;
  min-width: 100px;
  border-radius: 10%;
  border: 2px solid #c09e9e7d;
  font-size: large;
  background-color: #C5F2EC;
}

.additional__button-rain:hover {
  background-color: #cec8c8;
}


.biography {
  border-top: none;
  min-height: 500px;
  min-width: 430px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.biography__view {
  width: 30%;
  min-width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biography__photo {
  width: 80%;
  height: 70%;
  min-height: 280px;
  min-width: 300px;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#biography-photo {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.biography__info {
  width: 69%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.biography__info_text {
  width: 100%;
  text-decoration: solid;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 25px;
}

.skills {
  width: 100%;
}

.skill {
  border-top: none;
  min-height: 400px;
  min-width: 430px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 10%;
}

.skill__view {
  width: 30%;
  min-width: 430px;
  min-height: 380px;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill__photo {
  height: 70%;
  width: 75%;
}

.skill_photo_programming {
  background-image: url("../images/cpppy.svg");
  background-position: center;
  background-size: cover;
  border-radius: 5%;
  min-height: 230px;
}

.skill_photo_stock-market {
  background-image: url("../images/stock_market.svg");
  background-position: center;
  background-size: cover;
  border-radius: 5%;
}

.skill__overlay {
  background-color: rgba(43, 43, 160, 0.8);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: none; 
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin-top: -5px; 
  margin-left: -5px; 
  opacity: 0;
  border-radius: 5%;
  border: 5px solid rgba(43, 43, 160, 0.8);;
}

.skill__info {
  width: 70%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
}

.skill__info_text {
  text-decoration: solid;
  font-size: 30px;
  width: 100%;
}

.list {
  margin-left: 5%;
}

.skill__overlay:hover {
  opacity: 1;
}

.footer {
  min-height: 100px;
  min-width: 430px;
  display: flex;
  height: 10%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__section {
  display: flex;
  align-items: center; 
}

.contacts {
  width: 30%;
  justify-content: space-around;
  min-width: 430px;
}

.footer__logo {
  min-height: 100px;
  min-width: 100px;
  width: 25%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#logo-tg {
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
}

#logo-git {
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
}

.contact__link {
  height: 100%; 
  width: 100%;
}

.dev {
  width: 30%;
  justify-content: space-around;
  min-width: 430px;
}


.github__link {
  height: 100%;
  width: 100%;
}

.rain {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url(../images/rain.png);
  background-position: 0 0;
}

.rain_open {
  display: block;
}

.rain_animation {
  animation: rain_frames 3s linear infinite;
}

@keyframes rain_frames {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 0 3300px;
  }
}

@media (max-width: 800px) {
  .rain_open {
      display: none;
  }

  .additional__button-rain {
      display: none;
  }
}

@media (max-width: 440px) {
  .logo {
    border-right: none;
  }
}

#timer {
  font-size: 30px;
  display: flex;
  align-items: center; 
  margin: 10px 10px 10px 10px;
}

.open_feedback {
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
  color:rgba(43, 43, 160, 0.8);
}

.open_feedback:hover {
  color: black;
}

.open_feedback:active {
  color: black;
}

.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.feedback_popup {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 20%;
  min-width: 220px;
  animation: feedback_show 0.5s ease-in-out forwards;
}


.close_feedback {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.invalid {
  border-color: #ff6971;
  box-shadow: 0 0 0 2px #ff6971;
}

.valid {
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px #4CAF50;
}


#feedback_form #message {
  max-width: 97%;
}

@keyframes feedback_show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes feedback_close {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

